@{
    ViewData["Title"] = "Contato";
}
<h2 class="text-center" style="margin-bottom:50px; margin-top:50px;">@ViewData["Title"]</h2>

<address class="text-center">
    Rua H-152, Quadra 01, Lote 22<br />
    Setor Morada dos Pássaros<br />
    Aparecida de Goiânia<br />
</address>

<address class="text-center">
    <strong>Telefone:</strong> <a>(62) 3277-1492</a><br />
    <strong>WhatsApp:</strong> <a>(62) 99460-2792</a>
</address>

<article id="mapa" class="text-center">

    <h3>Localização</h3>
    <iframe class="border" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15279.747605731009!2d-49.2910594!3d-16.7798146!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2260be6fcc8f5cef!2sBazar%20%26%20Papelaria%20Nota%2010!5e0!3m2!1spt-BR!2sbr!4v1586125184749!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</article>