@model BazarPapelaria10.Models.Produto

<head>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='~/js/jquery.zoom.js'></script>

    <title>Nota 10 - Nome Produto</title>

    <script>
        $(document).ready(function () {
            $('#ex1').zoom();
            $('#ex2').zoom({ on: 'grab' });
            $('#ex3').zoom({ on: 'click' });
            $('#ex4').zoom({ on: 'toggle' });
        });

/**/</script>

    <style>
        /* these styles are for the demo, but are not required for the plugin */
        .zoom {
            display: inline-block;
            position: relative;
        }

            /* magnifying glass icon */
            .zoom:after {
                content: '';
                display: block;
                width: 33px;
                height: 33px;
                position: absolute;
                top: 0;
                right: 0;
                background: url(icon.png);
            }

            .zoom img {
                display: block;
            }

                .zoom img::selection {
                    background-color: transparent;
                }

        #ex2 img:hover {
            cursor: url(grab.cur), default;
        }

        #ex2 img:active {
            cursor: url(grabbed.cur), default;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="container" id="code_prod_detail" style="margin-top: 50px">
            <div class="row no-gutters">
                <aside class="col-sm-5 border-right">
                    <div class="conteiner">
                        <div class="maximage">
                            <div class="text-center border">
                                <a data-fancybox="">
                                    @if (Model.Imagens.FirstOrDefault() == null)
                                    {
                                        <img id="expandedImg" class="d-block w-100" src="~/images/semimagem.jpg" alt="" style="padding: 10px 10px 10px 10px">
                                    }
                                    else
                                    {
                                        <img id="expandedImg" class="d-block w-100" src="@Url.Content(Model.Imagens.FirstOrDefault().Caminho)" style="padding: 10px 10px 10px 10px">
                                    }
                                </a>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-sm text-center border">
                                <img src="http://placehold.it/300x300" style="width:50%; cursor: pointer;" onclick="trocaImagem(this);">
                            </div>
                            <div class="col-sm text-center border">
                                <img src="http://placehold.it/500x500" style="width:50%; cursor: pointer" onclick="trocaImagem(this);">
                            </div>
                            <div class="col-sm text-center border">
                                <img src="http://placehold.it/400x400" style="width:50%; cursor: pointer" onclick="trocaImagem(this);">
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="col-sm-7">
                    <article class="p-5">
                        <h3 class="title mb-3 text-left">Caderno The Big Bang Theory</h3>
                        <div class="rating-wrap my-3">
                            <ul class="rating-stars text-center">
                                <li style="width:90%" class="stars-active">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <small class="label-rating text-muted">132 avaliações</small>
                            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 pedidos </small>
                        </div>

                        <div class="mb-3 text-left">
                            <var class="price h3 text-warning">
                                <span class="currency">R$ </span><span class="num">24,99</span>
                            </var>
                        </div>

                        <dl>
                            <dt>Descrição</dt>
                            <dd><p>Descrição breve do produto em questão</p></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Modelo:</dt>
                            <dd class="col-sm-9">12345611</dd>

                            <dt class="col-sm-3">Cor:</dt>
                            <dd class="col-sm-9">Colorido </dd>

                            <dt class="col-sm-3">Qtd. Matérias:</dt>
                            <dd class="col-sm-9">90</dd>

                            <dt class="col-sm-3">Comprimento:</dt>
                            <dd class="col-sm-9">150px</dd>

                            <dt class="col-sm-3">Tipo:</dt>
                            <dd class="col-sm-9">Macarrão</dd>

                            <dt class="col-sm-3">Material:</dt>
                            <dd class="col-sm-9">Plástico</dd>

                            <dt class="col-sm-3">Marca:</dt>
                            <dd class="col-sm-9">Samsung</dd>
                        </dl>
                        <div class="row">
                            <div class="col-12">
                                <hr class="divider">
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="addCarrinho"></label>
                                    <div>
                                        <button id="addCarrinho" name="addCarrinho" class="btn btn-success btn-lg btn-block" type="Submit"><i class="fas fa-shopping-cart"></i>Adicionar ao carrinho</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </aside>
            </div>
            <div class="footer-card-produto">
                <h3>Descrição detalhada do produto</h3>
                <p style="padding: 10px;align-content: center;text-align: justify;">As dez peças do jogo de panelas compacto vermelho 20298/722 Turim, da Tramontina, vão fazer muito sucesso na sua cozinha. Feitas em alumínio, essas panelas possuem revestimento antiaderente Starflon T1, fazendo com que elas sejam muito mais simples de limpar e ainda ficam bonitas por mais tempo. E o melhor de tudo: podem ser usadas em fogão à gás, elétrico ou vitrocerâmico. É só escolher!</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="~/js/dist/easyzoom.js"></script>
    <script>
        // Instantiate EasyZoom instances
        var $easyzoom = $('.easyzoom').easyZoom();

        // Setup thumbnails example
        var api1 = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');

        $('.thumbnails').on('click', 'a', function (e) {
            var $this = $(this);

            e.preventDefault();

            // Use EasyZoom's `swap` method
            api1.swap($this.data('standard'), $this.attr('href'));
        });

        // Setup toggles example
        var api2 = $easyzoom.filter('.easyzoom--with-toggle').data('easyZoom');

        $('.toggle').on('click', function () {
            var $this = $(this);

            if ($this.data("active") === true) {
                $this.text("Switch on").data("active", false);
                api2.teardown();
            } else {
                $this.text("Switch off").data("active", true);
                api2._init();
            }
        });

        function trocaImagem(imgs) {
            // Get the expanded image
            var expandImg = document.getElementById("expandedImg");
            // Get the image text
            var imgText = document.getElementById("imgtext");
            // Use the same src in the expanded image as the image being clicked on from the grid
            expandImg.src = imgs.src;
            // Use the value of the alt attribute of the clickable image as text inside the expanded image
            imgText.innerHTML = imgs.alt;
            // Show the container element (hidden with CSS)
            expandImg.parentElement.style.display = "block";
        }
    </script>
</body>